.checkCodeTitle .homeWork h3 {
  margin-left: 300px;
  text-align: center;
}

.Checkcode .Output1 {
  margin-left: 300px;
  margin-right: 44px;
}

.Checkcode .Output1 textarea {
  background-color: grey;
  color: white;
  width: 100%;
  font-size: 20px;
}

.checkCodeTitle p {
  word-wrap: normal;
  font-size: 20px;
  margin-left: 300px;
  margin-right: 44px;
  text-align: left;
}
.checkCodeApi {
  padding-top: 10px;
  margin-left: 300px;
  margin-right: 44px;
}

.checkCodeApi .cm-s-material .cm-meta {
  color: white !important;
  background-color: #FF0000;
}

.checkCodeApi .cm-s-material .cm-type {
  color: #82AAFF !important;
}

.checkCodeApi .cm-s-material .cm-variable {
  color: #82AAFF !important;
}

.checkCodeApi .cm-s-material .cm-operator {
  color: white !important;
}

.modalHistory .cm-s-material .cm-meta {
  color: white !important;
  background-color: #FF0000;
}

.modalHistory .cm-s-material .cm-type {
  color: #82AAFF !important;
}

.modalHistory .cm-s-material .cm-variable {
  color: #82AAFF !important;
}

.modalHistory .cm-s-material .cm-operator {
  color: white !important;
}

#check {
  margin-top: 10px;
  margin-left: 300px;
  margin-bottom: 100px;
}

#history {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

#clear {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

.modalHistory {
  margin-top: 150px;
}

.form-control {
  background-color: #364956 !important;
  color: white !important;
  overflow: scroll !important;
}

.historyOfCode {
  margin-top: 10px;
  margin-left: 44px;
}
