.checkCode .homeWork {
  margin-left: 256px;
}

.checkCode .homeWork h3 {
  text-align: center;
}
.checkCode .homeWork p{
  word-wrap: normal ;
  font-size: 20px;
  float: left;
  margin-left: 44px;
  margin-right: 44px;
  text-align: left;
}
.checkCodeApi {
  padding-top: 100px;
  margin-left: 300px;
  width: 1000px;
}

#check {
  margin-top: 10px;
  margin-left: 44px;
}

#history {
  margin-top: 10px;
  margin-left: 10px;
}

#clear {
  margin-top: 10px;
  margin-left: 10px;
}

.modalHistory {
  margin-top: 150px;
}

.form-control {
  background-color: #364956 !important;
  color: white !important;
  overflow: scroll !important;
}

.historyOfCode {
  margin-top: 10px;
  margin-left: 44px;
}
