.language_id_form {
  padding-top: 100px;
  width: 200px;
  margin-left: 200px;
}

.compiler {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  /* width: 1000px; */
}

.compiler .cm-s-material .cm-meta {
  color: white !important;
  background-color: #FF0000;
}

.compiler .cm-s-material .cm-type {
  color: #82AAFF !important;
}

.compiler .cm-s-material .cm-variable {
  color: #82AAFF !important;
}

.compiler .cm-s-material .cm-operator {
  color: white !important;
}

#runCode {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.CodeMirror {
  resize: both;
  overflow: auto !important;
}
