.homeWorkStudent {
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.homeWorkStudent .title {
  margin-top: 50px;
  text-align: center;
}

.checkCodeHomeWork h2 {
  margin-top: 50px;
  text-align: center;
}

.homeWorkStudent .Output1 textarea{
  background-color: grey;
  color: white ;
  width: 100%;
  font-size: 20px;
}

.homeWorkStudent .Output1{
  margin-left: 190px;
  margin-right: 190px;
}

.homeWorkStudent p {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin-left: 190px;
  margin-right: 190px;
}

.checkCodeHomeWork {
  padding-top: 10px;
  margin-right: 190px;
  margin-left: 190px;
}

#checkHomeWork {
  margin-top: 10px;
  margin-left: 190px;
  margin-bottom: 100px;
}

#historyHomeWork {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

#clearHomeWork {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

.modalHistory {
  margin-top: 150px;
}
