.homeWorkStudent {
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.homeWorkStudent .title {
  margin-top: 50px;
  text-align: center;
}

.checkCodeHomeWork h2 {
  margin-top: 50px;
  text-align: center;
}

.homeWorkStudent p {
  font-weight: normal;
  font-size: 20px;
  float: left;
  text-align: left;
  margin-left: 190px;
  margin-right: 190px;
}

.checkCodeHomeWork {
  padding-top: 100px;
  width: 1100px;
  margin-left: 190px;
}

#checkHomeWork {
  margin-top: 10px;
  margin-left: 190px;
}

#historyHomeWork {
  margin-top: 10px;
  margin-left: 10px;
}

#clearHomeWork {
  margin-top: 10px;
  margin-left: 10px;
}

.modalHistory {
  margin-top: 150px;
}
