#mainIntroduction {
  padding-top: 70px;
}
#mainIntroduction #leftIntroduction {
  width: 800px;
  height: 1000px;
  background: white;
  margin-left: 115px;
  float: left;
  top: 70px;
}

#mainIntroduction #rightIntroduction {
  width: 400px;
  height: 1000px;
  top: 70px;
  float: left;
}

#leftIntroduction h2 {
  margin-top: 50px;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 15px;
}

#leftIntroduction h5 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 50px;
  margin-top: 0px;
}

#leftIntroduction p {
  margin-left: 50px;
  text-align: justify;
  margin-right: 10px;
}

#rightIntroduction h2 {
  margin-top: 200px;
  font-weight: 600;
  text-align: center;
}

.carousel {
  margin-left: 30px;
  margin-top: 30px;
}
