.Profile {
  padding-top: 60px;
}

.Profile #leftProfile {
  margin-top: 120px;
  margin-left: 230px;
  float: left;
  display: block;
}

.Profile #rightProfile {
  width: 600px;
  min-height: 300px;
  float: left;
  margin-left: 30px;
  background: #f8f9fa;
  display: block;
}

.Profile #rightProfile p {
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 10px;
}
.Profile #rightProfile button {
  margin-top: 10px;
}

.MuiInputBase-root.Mui-disabled {
  color: black !important;
  cursor: default;
}
/* .mainProfile #rightProfile input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    color: #204056;
    border-color: grey;
} */
/*  */
.Profile #rightProfile form {
  padding: 40px 40px;
}
