.signInBody * {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #fff;
  margin-bottom: 100px;
}

.toSignIn {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(70px, auto);
}

.formSignIn {
  border: 1px solid #80808000;
  grid-column: 6/9;
  grid-row: 3;
  height: 550px;
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 14px 0px grey;
  background-color: white;
}

.formSignIn img {
  margin-bottom: 10px;
  height: auto;
  width: 20%;
}

.formSignIn form {
  width: 210px;
}

.formSignIn h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.formSignIn label {
  display: block;
  font-weight: lighter;
  margin-bottom: 0px;
}

.toSignIn button#signIn1 {
  font-size: 12px;
  margin: 0 auto;
  padding: 6px;
  width: 150px;
  border-radius: 10px;
  border: none;
  bottom: 10px;
  cursor: pointer;
  margin-left: 29px;
  margin-top: 30px;
  background: linear-gradient(to right, #fc00ff, #00dbde);
}

.toSignIn button#signIn2 {
  font-size: 12px;
  margin: 0 auto;
  padding: 6px;
  width: 150px;
  border-radius: 10px;
  border: none;
  bottom: 10px;
  cursor: pointer;
  margin-top: 30px;
  background: linear-gradient(to right, #fc00ff, #00dbde);
}

.formSignIn button#signIn1:hover {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}

.formSignIn button#signIn2:hover {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}
